.navbar-inverse {
@include black-grade-trs;
border-color: transparent;
}

.navbar-nav .btn-social img {
  max-width: 25px;
  max-height: 25px; 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.navbar-nav .btn-social-fb img {
  max-width: 22px;
  max-height: 22px; 
  margin: 0px 15px 0px 0px;
  padding: 0px 0px 0px 0px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.navbar-nav .glyphicon-menu-hamburger {
// float: right;
// padding-top: 3px;
}

.navbar-home a {
    padding: 7px 15px;
    margin-top: 5px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 13px 15px 15px 0px;
    font-size: 12px;
    line-height: 20px;
}

@media (min-width: 768px) { 
.navbar-right {
    padding-right: 15px;
}
}

@media (min-width: 768px) {
.navbar-right {

}
}
.navbar-btn {
//    margin-right: 10px;
}
.navbar-text {
    float: left;
    margin-right: 8px;
    margin-left: 0px;
    margin-top: 16px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    padding: 7px 15px;
    margin-top: 5px;
}


@media (min-width: 768px) {
.navbar-right {
    float: right !important;
    margin-right: 0px;
}
}

.navbar-header {
    margin-left: 15px;
}

.navbar-inverse {
  .navbar-nav {
    > li > a {
      color: #fff;

      &:hover,
      &:focus {
        color: #f0ad4e;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #f0ad4e;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: #444;
        background-color: transparent;
      }
    }
  }
 }
